.dialog_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.dialog_item a {
    text-decoration: none;
}

.dialog_item_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}