.header {
	grid-area: h;
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
	border-radius: 20px;
	padding: 23px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.logo {
	width: 117px;
	height: 29px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.accountContainer {
	padding: 10px 19px;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}
.accountSignBtn {
	display: flex;
	align-items: center;
	border-radius: 15px;
	padding: 5px 20px;
	height: 44px;
	background-color: transparent;
	border: 1px solid #0a66c2;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #0a66c2;
	text-decoration: none;
}
.accountSignBtn:hover {
	text-decoration: underline;
}

.searchForm {
	width: 415px;
	height: 44px;
	padding: 2px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f5f5f5;
	border-radius: 12px;
}

.searchInput {
	outline: none;
	min-width: 345px;
	background: transparent;
	border: none;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.accountImage {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	width: 44px;
	height: 44px;
	border-radius: 12px;
	background-color: #9696fa;
}
.accountName {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}