.network__content {
    padding: 30px;
    height: 100%;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.network__cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.userCard_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 191px;
    height: 235px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
}

.userCard_image {
    border-radius: 13px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}